
<!-- COPY OF VGO ADDITIONAL SCRIPTS START -->

<script>
ga('require', 'GTM-5X9QMTF');

/*function createCookie(a,b,c){if(c){var d=new Date;d.setTime(d.getTime()+c*60*1e3);var e=";
expires="+d.toUTCString()}else var e="";document.cookie=a+"="+b+e+"; path=/"}function readCookie(a){for(var
b=a+"=",c=document.cookie.split(";"),d=0;d<c.length;d++) {for(var e=c[d];"
    "==e.charAt(0);)e=e.substring(1,e.length);if(0==e.indexOf(b))return e.substring(b.length,e.length)}return null}function eraseCookie(a){createCookie(a,"",-1)}function crtmedir(a){var b=document.createDocumentFragment(),c=document.createElement("
    div");for(c.innerHTML=a;c.firstChild;)b.appendChild(c.firstChild);return b}function startTimer(start, duration,
    display){var diff,minutes,seconds;function timer(){diff=duration-(((Date.now()-start)/1000)|0);minutes=(diff /
    60)|0;seconds=(diff % 60)|0;minutes=minutes < 10 ? "0" + minutes : minutes;seconds=seconds < 10 ? "0" + seconds :
    seconds;display.textContent=minutes + ":" + seconds; if (diff <=0){clearInterval(inti);document.getElementById("countdownhere").innerHTML="Order reservation ended."
    ;start=Date.now() + 1000;}};timer();var inti=setInterval(timer, 1000);}var pdm=crtmedir('<div class="countdownholder">
    <div id="countdownhere" style="display:block;background:#fff5d2;padding:10px 20px;border:1px solid #e3df74;font-size:14px;color:#2c2c2c;font-weight:bold;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin:20px 0px">Your
        order is reserved for <span id="time"></span> minutes! </div>
    <div style="display:table;width:100%">
        <div style="width:33.3%;display:table-cell;float:none;height:100%;vertical-align:middle;text-align:center"><img
                src="https://cdn.shopify.com/s/files/1/1319/2435/t/3/assets/truste.png" style="margin:0 auto"></div>
        <div style="width:33.3%;display:table-cell;float:none;height:100%;vertical-align:middle;text-align:center"><img
                src="https://cdn.shopify.com/s/files/1/1319/2435/t/3/assets/paypalverified.png" style="margin:0 auto"></div>
        <div style="width:33.3%;display:table-cell;float:none;height:100%;vertical-align:middle;text-align:center"><img
                src="https://cdn.shopify.com/s/files/1/1319/2435/t/3/assets/mcafeesecured.png" style="margin:0 auto"></div>
    </div>
    </div>');if(window.location.href.indexOf('checkout') > -1 && document.location.href.indexOf('thank_you') === -1 &&
    document.location.href.indexOf('orders') === -1){window.onload = function () {
    document.getElementsByClassName('main__header')[0].appendChild(pdm);var dolzina=15;var ten=60*dolzina;var
    starttime=Date.now();var xcnt=readCookie('prtcntdwn');if(xcnt){if(starttime<xcnt) {ten=(xcnt-starttime)/1000;}else{eraseCookie('ptcntdwn');createCookie('prtcntdwn',Date.now()+(ten*1000),ten+1);}}else{createCookie('prtcntdwn',Date.now()+(ten*1000),ten+1);}display=document.querySelector('#time');startTimer(starttime,
        ten, display);};*/ var logoDiv=document.querySelector(".logo__text").parentNode;
        logoDiv.setAttribute("id","logo-node"); document.querySelector(".logo__text").style.display="none" ; var
        bigLogoDiv=document.querySelector(".main__header").children[0]; bigLogoDiv.setAttribute("id","big-logo-node");
        document.getElementById("big-logo-node").children[0].style.display="none" ; var logo=document.createElement("img");
        logo.setAttribute("src",
        "https://cdn.shopify.com/s/files/1/0020/1542/8674/files/gotq_71c3865f-5274-46a3-9bb6-264bff8e7ce8.png" );
        logo.setAttribute("style", "width:100%" ); logo.setAttribute("alt", "Logo Mobile" ); var logo2=document.createElement("img");
        logo2.setAttribute("src",
        "https://cdn.shopify.com/s/files/1/0020/1542/8674/files/gotq_71c3865f-5274-46a3-9bb6-264bff8e7ce8.png" );
        logo2.setAttribute("style", "width:100%" ); logo2.setAttribute("alt", "Logo" );
        document.getElementById("logo-node").appendChild(logo);
        document.getElementById("big-logo-node").appendChild(logo2); if (/checkouts/.test(window.location.href)) {
        ;if('object'==typeof Checkout&&'function'==typeof
        Checkout.$){Checkout.$('.alt-payment-list-container').hide();Checkout.$('.alternative-payment-separator').hide();}
        var my_awesome_script=document.createElement('script'); my_awesome_script.setAttribute('src','https://cdn.shopify.com/s/files/1/1302/6949/t/48/assets/BGSchScript.js?3326235384619915738');
        my_awesome_script.setAttribute('id','myScript'); document.head.appendChild(my_awesome_script); };
        setTimeout(function(){ document.querySelector(".emailclass").style.bottom='5px' ; var bigDiv=document.querySelector(".wyustit").parentNode;
        bigDiv.setAttribute("id","wyustit-reviews"); var elem=document.createElement("img"); elem.setAttribute("src",
        "https://cdn.shopify.com/s/files/1/0020/1542/8674/files/gotq_71c3865f-5274-46a3-9bb6-264bff8e7ce8.png" );
        elem.setAttribute("style", "width:100%" ); elem.setAttribute("alt", "Reviews" );
        document.getElementById("wyustit-reviews").style.background="#f3f3f3" ;
        document.querySelector(".sidebar").style.background="#f3f3f3" ;
        document.getElementById("wyustit-reviews").style.boxShadow="-10px 0 0 0 #f3f3f3, 10px 0 0 0 #f3f3f3"
        document.getElementById("wyustit-reviews").appendChild(elem); }, 5000);

        </script>

<!-- PIRATE CONVERSION 3.0 METHODS START -->

        var pSettings={
        /*ConversionPirate.com*/
        progressBg: '#23468c',
        progressBg2: '#d9e3f7',
        
        highDemandText: "An item you ordered is in high demand. No worries, we have reserved your order.",
        discountText: "Enter your discount code here",
        
        whyUsImg1: 'https://cdn.shopify.com/s/files/1/1319/2435/t/4/assets/money-back.png',
        whyUsTitle1: "30-day Satisfaction guarantee with Money Back",
        whyUsText1: "If you're not satisfied with your products we will issue a full refund, no questions asked.",
        
        whyUsImg2: 'https://cdn.shopify.com/s/files/1/1319/2435/t/4/assets/mail-truck.png',
        whyUsTitle2: "Over 34.245 successfully shipped orders",
        whyUsText2: "We made as much happy customers as many orders we shipped. You simply have to join our big family.",
        }
        function crC(e,t,s){if(s){var n=new Date;n.setTime(n.getTime()+60*s*1e3);var i="; expires="+n.toUTCString()}else
        i="";document.cookie=e+"="+t+i+"; path=/"}function rdC(e){for(var t=e+"=",s=document.cookie.split(";"),n=0;n<s.length;n++)
            {for(var i=s[n];"
            "==i.charAt(0);)i=i.substring(1,i.length);if(0==i.indexOf(t))return i.substring(t.length,i.length)}return null}function eSC(e){crC(e,"",-1)}function stTM(e,t,s){var n,i,d;function a(){n=t-((Date.now()-e)/1e3|0),d=n%60|0,i=(i=n/60|0)<10?"
            0"+i:i,d=d<10?"0"+d:d,s.textContent=i+":"+d,n<=0&&(clearInterval(c),document.getElementById("ct836").innerHTML="Order reservation ended."
            ,e=Date.now()+1e3)}a();var c=setInterval(a,1e3)}var wnd=window.location.href,chsg='<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#fff"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>'
            ;wnd.indexOf("checkout")>-1&&(window.onload=function(){if(wnd.indexOf("checkout")>-1&&(dsXt=document.getElementById("checkout_reduction_code"),document.body.insertAdjacentHTML("afterbegin",'<div
                class="content prH7">
                <div class="wrap">
                    <div class="ar64">
                        <div id="sp1" class="s8 s8c"><span id="spn1">1.Customer</span></div>
                        <div id="sp2" class="s8"><span id="spn2">2.Shipping</span></div>
                        <div id="sp3" class="s8"><span id="spn3">3.Payment</span></div>
                    </div>
                </div>
            </div>'),-1===wnd.indexOf("thank_you"))){document.getElementsByClassName("main__content")[0].insertAdjacentHTML("afterbegin",'<div>
                <div id="ct836" style="display:block;background:#fff5d2;padding:10px 20px;border:1px solid #fac444;font-size:14px;color:#2c2c2c;font-weight:bold;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin:5px 0px 20px 0px">Your
                    order is reserved for <span id="time"></span> minutes!</div>
            </div>');var e=600,t=Date.now(),s=rdC("pRtC");s?t<s?e=(s-t)/1e3:(eSC("pRtC"),crC("pRtC",Date.now()+1e3*e,e+1)):crC("pRtC",Date.now()+1e3*e,e+1),display=document.querySelector("#time"),stTM(t,e,display),document.getElementsByClassName("main__content")[0].insertAdjacentHTML("afterbegin",'
                <div style="width:100%;display:table">
                <div style="display:table-cell;vertical-align:middle"><img src="https://cdn.shopify.com/s/files/1/1319/2435/t/4/assets/flame_24.png?10413921915994220473"></div>
                <div style="font-weight:bold;padding-left:5px">'+pSettings.highDemandText+"</div>
                </div>"),""!=pSettings.discountText&&dsXt&&dsXt.setAttribute("placeholder",pSettings.discountText),document.getElementsByClassName("step__footer")[0].insertAdjacentHTML("afterend",'<div
                    style="width:100%;display:block;padding-top:10px"><span style="font-size:11px;line-height:12px;font-style=italic;float:right;width:100%;text-align:right">Guaranteed
                        safe and secure checkout!</span><img src="https://cdn.shopify.com/s/files/1/1319/2435/t/4/assets/paybadges.jpg"
                        style="max-width:250px;float: right;margin-top: 5px;"></div>'),document.getElementsByClassName("order-summary__sections")[0].insertAdjacentHTML("beforeend",'<div
                    style="position:relative;padding:10px 0px">
                    <div class="wyustit" style="position:relative;z-index:1;text-align:center"><span style="background:#fafafa;padding:0 15px">Why
                            choose us?</span></div>
                    <div style="display:table;vertical-align:middle;width:100%;border-spacing:0px 20px">
                        <div class="wyuscs">
                            <div class="wyuscs1"><img src="'+pSettings.whyUsImg1+'"></div>
                            <div class="wyuscs2"><span>'+pSettings.whyUsTitle1+"</span>
                                <p>"+pSettings.whyUsText1+'</p>
                            </div>
                        </div>
                        <div class="wyuscs">
                            <div class="wyuscs1"><img src="'+pSettings.whyUsImg2+'"></div>
                            <div class="wyuscs2"><span>'+pSettings.whyUsTitle2+"</span>
                                <p>"+pSettings.whyUsText2+"</p>
                            </div>
                        </div>
                    </div>
                </div>")}b1j=document.getElementById("sp1"),b2j=document.getElementById("sp2"),b3j=document.getElementById("sp3"),c1j=document.getElementById("spn1"),c2j=document.getElementById("spn2"),c3j=document.getElementById("spn3"),wnd.indexOf("previous_step=contact_information")>-1&&(b1j.className="s8
                s8c",b2j.className="s8
                s8c",c1j.insertAdjacentHTML("afterbegin",chsg)),wnd.indexOf("previous_step=shipping_method")>-1&&(b1j.className="s8
                s8c",b2j.className="s8 s8c",b3j.className="s8
                s8c",c1j.insertAdjacentHTML("afterbegin",chsg),c2j.insertAdjacentHTML("afterbegin",chsg)),wnd.indexOf("thank_you")>-1&&(b1j.className="s8
                s8c",b2j.className="s8 s8c",b3j.className="s8
                s8c",c1j.insertAdjacentHTML("afterbegin",chsg),c2j.insertAdjacentHTML("afterbegin",chsg),c3j.insertAdjacentHTML("afterbegin",chsg))});var
                b7=document.createElement("style");b7.type="text/css";b7.innerHTML='.main
                ul.breadcrumb{display:none!important}.content.prH7{padding:8px 0}.ar64{width:100%}.ar64
                .s8{font-size:14px;text-align:center;color:#fff;cursor:default;margin:0 3px;padding:9px 10px 9px
                30px;float:left;position:relative;background-color:'+pSettings.progressBg2+';-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:all
                2s ease;width:20%}.ar64 .s8:after,.ar64 .s8:before{content:"
                ";position:absolute;top:0;right:-17px;width:0;height:0;border-top:19px solid transparent;border-bottom:17px
                solid transparent;border-left:17px solid '+pSettings.progressBg2+';z-index:2;transition:border-color .2s
                ease}.ar64 .s8:before{right:auto;left:0;border-left:17px solid #fff;z-index:0}.ar64
                .s8:first-child:before{border:none}.ar64
                .s8:first-child{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.ar64 .s8
                span{position:relative}.ar64 .s8.s8c{color:#fff;background-color:'+pSettings.progressBg+'}.ar64
                .s8.s8c:after{border-left:17px solid '+pSettings.progressBg+'}.ar64 .s8
                svg{position:absolute;left:-17px;top:2px}.ar64 .s8:first-child svg{left:-16px}.wyustit:before{border-top:1px
                solid #dfdfdf;content:"";margin:0
                auto;position:absolute;top:50%;left:0;right:0;bottom:0;width:100%;z-index:-1}.wyuscs{display:table-row;padding-bottom:20px}.wyuscs1,.wyuscs2{display:table-cell;vertical-align:middle}.wyuscs1{width:20%;font-size:15px}.wyuscs2{width:80%}.wyuscs2
                span{font-size:14px;font-weight:700;color:#666}.wyuscs2
                p{font-size:12px;color:#777}@media(min-width:450px){.ar64 .s8{min-width:29%}.ar64 .s8
                svg{position:relative!important;top:2px!important;left:-10px!important}}@media(max-width:750px){.ar64
                .s8{font-size:11px}.ar64 .s8:first-child{padding-left:20px}}';document.body.appendChild(b7);





                {% if first_time_accessed %}
                
                
                <!-- Google Code for VGO purchases Conversion Page -->
                <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 848136108;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "9T5YCJqLtnIQrI-2lAM";
                    var google_conversion_value = {{ subtotal_price | money_without_currency }};
                    var google_conversion_currency = "{{ shop.currency }}";
                    var google_remarketing_only = false;
                /* ]]> */
                </script>
                <div style="display:none">
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    </div< <noscript>
                    <div style="display:inline;visibility:hidden">
                        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/848136108/?value={{ subtotal_price | money_without_currency }}&amp;currency_code={{ shop.currency }}&amp;label=9T5YCJqLtnIQrI-2lAM&amp;guid=ON&amp;script=0" />
                    </div>
                    </noscript>
                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function (d, w, c) {
                            (w[c] = w[c] || []).push(function () {
                                try {
                                    w.yaCounter41896184 = new Ya.Metrika({
                                        id: 41896184,
                                        clickmap: true,
                                        trackLinks: true,
                                        accurateTrackBounce: true,
                                        webvisor: true,
                                        trackHash: true,
                                        ecommerce: "dataLayer"
                                    });
                                } catch (e) { }
                            });

                            var n = d.getElementsByTagName("script")[0],
                                s = d.createElement("script"),
                                f = function () { n.parentNode.insertBefore(s, n); };
                            s.type = "text/javascript";
                            s.async = true;
                            s.src = "https://mc.yandex.ru/metrika/watch.js";

                            if (w.opera == "[object Opera]") {
                                d.addEventListener("DOMContentLoaded", f, false);
                            } else { f(); }
                        })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/41896184" style="position:absolute; left:-9999px;" alt="" /></div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                    {% endif %}


<!-- CURRENT UnderMySea -->

<!-- ========= -->


{% if first_time_accessed %}


<!-- Google Code for VGO purchases Conversion Page -->

<div style="display:none">
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    </div< <noscript>
    <div style="display:inline;visibility:hidden">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/848136108/?value={{ subtotal_price | money_without_currency }}&amp;currency_code={{ shop.currency }}&amp;label=9T5YCJqLtnIQrI-2lAM&amp;guid=ON&amp;script=0" />
    </div>
    </noscript>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter41896184 = new Ya.Metrika({
                        id: 41896184,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true,
                        ecommerce: "dataLayer"
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/41896184" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    {% endif %}