.main-content {
    padding-top: 10px;
}
h1.product-single__title {
    font-weight: bold;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    -webkit-text-stroke: #015f87 3px;
    color: #015f87;
    text-shadow: 0px -2px #015f87;
  	letter-spacing: 1.5px;
    font-size: 2.6rem;
}
h1.product-single__title span {
    color: #484848!important;
    -webkit-text-stroke: 3px #484848;
}
.saleText {
    font-size: 24px;
    font-weight: bold;
    color: #0080a5;
}
.saleText span {
    color: #ce032c;
}
.saleText img {
    width: 29px;
    vertical-align: text-bottom;
    margin-right: 12px;
    margin-left: 12px;
}
img.wavyBorder {
    height: unset!Important;
    width: 55%;
    margin-top: 0px;
    vertical-align: top;
}
.subTitleText {
    color: #018bae;
    font-size: 18px;
    letter-spacing: 0.6px;
}
.product-single__photos img{
	background:transparent!important;
}
.order-btn-icon {
    background: #ff6905!important;
    border: 2px solid #ab4400;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0px!important;
    padding-right: 0px!important;
    outline: none;
}
.order-btn-icon span{
	vertical-align:bottom; 
}
span.assurance {
    font-size: 13px;
    padding-top: 10px;
}
select#SingleOptionSelector-0 {
    border-color: #1555a0;
    border-radius: 7px;
    padding: 4px 40px 4px 25px;
    font-size: 16px;
    font-style: normal;
}
div#productIntro p {
    margin-bottom: 8px;
}
div#productIntro {
    font-size: 14px;
    text-align: left;
}
.product-single__meta {
    padding-top: 5px;
}
.radio-wrapper .single-option-radio__label{
  	margin-bottom:0px;
}
.hidden{display:none!important;}
  
.grid.gurantee-benefit {
    background: #e5e5e5;
    display: block;
      margin-bottom: 0px;
    box-shadow: 1000px 0px #e5e5e5, -1000px 0px #e5e5e5;
}
.gurantee-benefit .imgBox {
    display: inline-block;
    width: 16%;
    float: left;
}
.contentBox {
    width: 82%;
    float: right;
}
.contentBox h3 {
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0px;
  margin-bottom:0px;
}
.contentBox p {
    font-size: 0.9rem;
}
.gurantee-benefit .grid__item.product-single__meta--wrapper.medium--six-twelfths.large--six-twelfths {
    padding-right: 0px;
}
.contentBox p {
    margin-bottom: 0px;
}
.grid.gurantee-benefit {
    padding-top: 20px;
    padding-bottom: 10px;
}
.green-color.grid.orderBox {
    background: #037d00;
    color: white;
    text-align: center;
    box-shadow: 1000px 0px #037d00, -1000px 0px #037d00;
}
.green-color.orderBox h2 {
    color: white;
  	font-family:inherit;
  	margin-bottom: 0px;
   text-shadow: 0px -1px white;
}
.green-color.grid.orderBox p {
    margin-bottom: 0px;
}
.green-color.grid.orderBox {
    padding-top: 20px;
    padding-bottom: 20px;
}
   
.green-color.orderBox h2:after {
    display:none;
}
.charity.grid h2:after {
    display: none;
}
.charity.grid h2 {
    margin-bottom:0px;
}
.charity.grid h2 {
    font-family: inherit;
    font-size: 2rem;
    -webkit-text-stroke: 2px;
}
.grid.highlightBox, .grid.specifications {
    background: #f5f5f5;
    box-shadow: 1000px 0px #f5f5f5, -1000px 0px #f5f5f5;
}
  .grid.highlightBox h2:after, .grid.specifications h2:after{display:none;}

.grid.highlightBox h2, .grid.specifications h2 {
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: right;
    font-size: 3rem;
    font-family: inherit;
    font-weight: bold;
    -webkit-text-stroke: 2px;
    color: #002637;
    text-shadow: 1px 1px 3px #6f6f6f;
}
.grid.specifications h2{
	text-align:center;
    text-transform:uppercase;
}
.grid.highlightBox h2.shadowVertical {
    margin-bottom: 10px;
    text-align: left;
    font-family: inherit;
    font-weight: bold;
    transform: rotate(270deg);
    position: relative;
    color: #ddd;
    font-size: 3rem;
    padding-top: 0px;
    left: -40%;
    height: 0px;
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 3px #ddd;
}
ul.boxList {
    list-style: none;
    text-align: center;
    padding: 20px;
    margin: 0px;
}
.specifications img.sepjet {
    width: 56%;
    margin: auto;
    display: block;
    position: relative;
    top: -28px;
}
ul.boxList li:hover img {
    filter: invert(100);
}
ul.boxList li:hover {
    background: #19405e;
    color: white;
}

ul.boxList li:hover img {
    filter: invert(100);
}
.testimonial h2 {
    margin: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px;
    color: #002637;
    text-shadow: 1px 1px 3px #6f6f6f;
}
.testimonial h2:after {
    display: none;
}
ul.boxList li {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}
  .specifications img{max-width: 60%;}
.grid.specifications {
    padding-top: 40px;
    padding-bottom: 40px;
  	margin-bottom:0px;
}
.saving h2 {
    font-family: inherit;
    font-size: 2.3rem;
    font-weight: bold;
    -webkit-text-stroke: 2px;
    color: #002637;
  margin-bottom:0px;
  margin-top:30px;
}
  .saving h3{
  	margin: 0px;
    color: #005e88;
    font-weight: bold;
    -webkit-text-stroke: 2px;
    font-size: 1.5rem;
  }
.saving h2:after {
    display:none;
}
 img.sepjet {
    max-width: 81%;
   	position:relative;
   top:-10px;
 }
  .savingList li{
  list-style:none;
    text-align:center;
  }
.savingList span {
    color: red;
    font-weight: bold;
}
.savingList li{
  color:grey;
}
.saving h3 span {
    color: green;
}
.saving h3 {
    color: #222;
    font-size: 1.8rem;
}
.saving p {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: grey;
    font-weight: 400;
}
.saving h2.saved{
  	margin:0px;
  color:green;  
}
.saving h2.saved span {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #949494!important;
}
.compareBox h2 {
    font-family: inherit;
    font-weight: bold;
    -webkit-text-stroke: 2px;
    letter-spacing: 2px;
    font-size: 2.2rem;
    text-transform: uppercase;
  margin:0;
}
.compareBox h2:after{
  	display:none;
}
.compareBox h4{
  margin-bottom:10px;
}
.compareBox h4 {
    text-align: center;
    color: #005e88;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
.grid.comparison {
    box-shadow: 1000px 0px #005b7f, -1000px 0px #e6e6e6;
  background: rgba(230,230,230,1);
background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 50%, rgba(0,91,127,1) 50%, rgba(0,91,127,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(50%, rgba(230,230,230,1)), color-stop(50%, rgba(0,91,127,1)), color-stop(100%, rgba(0,91,127,1)));
background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 50%, rgba(0,91,127,1) 50%, rgba(0,91,127,1) 100%);
background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 50%, rgba(0,91,127,1) 50%, rgba(0,91,127,1) 100%);
background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 50%, rgba(0,91,127,1) 50%, rgba(0,91,127,1) 100%);
background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 50%, rgba(0,91,127,1) 50%, rgba(0,91,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#005b7f', GradientType=1 );
}
.grid.comparison .leftBox{
    background-color:#e6e6e6;
}
.grid.comparison .rightBox{
  background-color:#005b7f;
  color:#fff;
}
.grid.comparison .rightBox h2{
  color:#fff;
}
.leftBox, .rightBox {
    padding: 30px;
}
.grid.comparison {
    margin-top: 20px;
}
.grid.comparison .leftBox ul {
    color: #858585;
    list-style-type: none;
    font-weight: 600;
    line-height: 1.8rem;
    padding-left: 50px;
    padding-top: 25px;
}
.grid.comparison .leftBox ul li:before {
    content: 'x ';
    color: white;
    background: #c30606;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 1em;
    margin-right: 10px;
}
.rightBox ul {
    list-style: none;
    margin-top: 21px;
    padding-left: 20px;
}
.rightBox ul li:before {
    content: '✓ ';
}
.rightBox ul li:before {
    content: '✓';
    border: 2px solid white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
}
.rightBox ul li {
    padding-bottom: 5px;
}
.inAction h2 {
    text-align: left;
    font-family: inherit;
    font-size: 2.2rem;
    -webkit-text-stroke: 2px;
  margin-bottom:0px;
}
.inAction p.subTitle {
    color: #005e88;
    font-size: 1.6rem;
}


div#shopify-product-reviews h2 {
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
}
  
.inAction h2:after {
    display:none;
}
.grid.faq h2 {
    font-family: inherit;
    font-weight: bold;
    -webkit-text-stroke: 2px;
    letter-spacing: 2px;
    font-size: 2rem;
}
.grid.faq h2:after {
   	display:none;
}
.faqItem {
    margin-bottom: 18px;
    display: inline-block;
}
.faqItem h4 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 9px;
}
