.h1Test {
    text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
  body, h1, h2, h3, h4, h5, h6, p, span, div, li{
  font-family: 'Lato', sans-serif!important;
}
  #productIntro p.italic {
    font-style:italic;
	}
  #productIntro p {
    text-align: left;
}
  .topTitle{
  	margin-bottom:5px;
  	font-size:1.6rem;
  	font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif!important;
    font-weight: bolder;
    text-shadow: 0 0 4px #949494;
  }
.subTitle b {
   font-weight: 600;
}
.subTitle {
  font-size: 1rem;
  text-transform:uppercase;
   
}
.flashSale img {
    width: 42px;
    vertical-align: top;
}
.flashSale {
	font-size:1.5rem;
	color:#2d67ad;
    font-weight:bold;
  	margin-bottom:10px;
}
.flashSale span {
  color: #182e49;
}
div#productIntro {
  
    text-align: left;
    font-size: 1rem;
    color: #222;
}
.payment-buttons button {
    background-color: #e34a00;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 8px 26px;
    border-radius: 6px;
    border: 3px solid #f38445;
  transition: all 0.3s;
}
.btn--add-to-cart:hover, button[type=submit]:hover {
    background-color: #f48e4f!important;
}
  .riskGurantee{
  	margin-top: 10px;
    font-size: 14px;
    color: #484848;
    letter-spacing: 0.5px;
  }
  .riskGurantee img{
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
  }
  #addToCartForm-{margin:0px!important;}
.hidden{display:none!important;}
  .nomargin{margin:0px!important;}
.whatIncluded ul {
    columns: 3;
    text-align: left;
}
.whatIncluded h2 {
    text-align: left;
}
.whatIncluded ul {
    font-size: 0.9rem;
}
.whatIncluded li {
    text-transform: uppercase;
    font-size: 0.8rem;
}
.whatIncluded li span {
    text-transform: lowercase!important;
    font-weight: 600;
}
.grid.blackBox {
    background: #363636;
    box-shadow: 1000px 0px #363636, -1000px 0px #363636;
    color: white;
    padding: 15px 0px 0px 0px;
}
.grid.blackBox h3{
  color:white;
  font-size: 1.3rem;
  letter-spacing: 0.8px;
  margin-bottom:5px;
  margin-top: 0px;
}
.grid.blackBox p{  
      font-size: 16px;
  }
img.moneyBack {
    float: left;
    height: 90px;
  margin-right:15px;
}
.testimonial h3 {
    font-size: 1rem!important;
}
.testimonial p {
    font-size: 14px!important;
}
.charity h4 {
    font-weight: 100;
    font-size: 2rem;
}
.charity h2 {
    font-size: 2.2rem;
    font-weight: bolder;
    text-shadow: -1px 2px 3px #ccc;
}
.grid.highlights {
    background: #f6f6f6;
    box-shadow: 1000px 0px #f6f6f6, -1000px 0px #f6f6f6;
    padding: 50px 0px;
}
.highlights img {
    display: block;
    max-width: 80%;
    margin: auto;
}
.highlights h2{
    font-weight: 900;
    font-size: 2.3rem;
    margin-top: 0px!important;
    line-height: 1rem;
}
.highlights p {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #222;
}
.highlights h4 {
    font-weight: 400;
    font-size: 1.2rem;
}
  
  ul.highlightList{
  	margin-top:50px;
    display:block;
    margin-left: 0px;
  }  
ul.highlightList li {
    display: inline-block;
    width: 24%;
    background: #1d2467;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
ul.highlightList li span img {
    border-radius: 50%;
}
.highlightList span {
    display: block;
    width: 45px;
    background: white;
    height: 45px;
    margin: auto;
    position: relative;
    top: -20px;
    border-radius: 50%;
    border: 2px solid #1d2467;
}
ul.highlightList li {
    display: inline-block;
    width: 24%;
    background: #1d2467;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: 1em;
    min-height:105px;
    vertical-align: middle;
}
ul.highlightList li span  {
    transition: all 0.3s;
}

ul.highlightList li span img {
    border-radius: 50%;
    padding: 1px!important;
    margin-top: 3px!important;
}
ul.highlightList li:hover span  {
    transform: scale(1.2);
    opacity: 1;
}  
ul.techList li span {
    font-weight: bold;
    color: #315e95;
}

ul.techList li {
    border-bottom: solid 1px #dadada;
}
ul.techList {
    list-style: none;
    margin: 0px;
    font-size: 16px;
}
.techSpec h3 {
    font-size: 1.5rem;
}
.highlights h3 {
    font-size: 1.4rem;
    color: #d3383a;
}
ul.specList li {
    width: 49%;
    display: inline-block;
  margin-bottom:10px;
}
ul.specList {
    list-style: none;
    margin-left: 0px;
}
.specList img {
    float: left;
  margin-top:10px;
}
.techDetails span {
    font-weight: 100;
    display: block;
    line-height: 0.5rem;
}

.techDetails {
    font-size: 2rem;
    font-weight: 900;
}
.techDetails {
    font-size: 2rem;
    font-weight: 900;
    width: calc(100% - 65px);
    float: right;
}
.grid.techSpec {
    padding-top: 60px;
    padding-bottom: 60px;
}
.ip67 .techDetails {
    font-size: 2rem;
    font-weight: 900;
    width: calc(100% - 80px);
    float: right;
}
.ip67 span {
    display:inline-block;
}
li.ip67 .techDetails {
    line-height: 2rem;
    margin-top: 1rem;
}
li.ip67 {
    padding-left: 15%;
}
.grid.orderToday {
    background: #182e49;
    box-shadow: 1000px 0px #182e49, -1000px 0px #182e49;
    padding-top: 20px;
    padding-bottom: 20px;
}
.grid.orderToday h2, .grid.orderToday h3 {
    color: white;
}
.orderToday h2 {
    font-size: 1.6rem;
    font-weight: 900;
  	margin-bottom:0px!important;
}
.orderToday h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0px!important;
    text-transform: unset;
}
a.orderBtnCTA {
    background: #e65300;
    border: 2px solid #f48e4f;
    color: #ffffff;
    padding: 16px 20px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    display: block;
      text-align: center;
}
.outstand .iconBox img {
    padding: 10px;
}
.iconBox img {
    padding: 10px;
}

.outstand .iconBox {
    display: block;
    background: #1f2772;
    border-radius: 50%;
    padding: 4px;
    margin: auto;
    width: 71px;
  height:71px;
}
.iconBox {
    display: block;
    background: #1f2772;
    border-radius: 50%;
    padding: 4px;
    margin: auto;
    width: 71px;
  height:71px;
}
.outstand h3 {
    text-align: center;
    font-size: 1.3rem;
    color: #193353;
}
.outstand p.text {
    font-size: 1.1rem;
    text-align: center;
    color: #444;
    margin-top: 25px;
}
.highlighted h3 {
    margin-bottom: 0px;
    line-height: 1rem;
}
.h1box, .h2box {
    padding-bottom: 10px;
}

.highlighted h3 {
    margin-bottom: 0px;
    line-height: 1rem;
    font-size: 1.1rem;
    color: #1f2772;
}
.highlighted h3 img {
    margin-right: 5px;
    vertical-align: text-top;
}
.outstand h2 {
    font-size: 1.9rem;
    line-height: 2.5rem;
    color: #222;
}
  .outstand h2.redText{
	color:#e00000;
    font-size: 3rem;
    font-weight: 700;
  }
.outstand h4 {
    font-size: 1.5rem;
}
span.redText {
    color: #e00000;
    font-weight: bold;
}
.totalTxt {
    font-size: 1.3rem;
}
  
.savingList p {
    font-size: 1rem;
}
h1.greenPrice {
    color: #0dad0d;
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
}
.outstand h5 {
    font-size: 1.1rem;
}
hr.blueLine {
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #00adff;
}
.endosnakeCompare {
    border: 1px solid #9c9c9c;
    padding: 10px;
    background: #e4e4e4;
    border-radius: 10px;
    border-top-right-radius: 0px;
    box-shadow: 0px 3px 4px #ccc;
    border-bottom-right-radius: 0px;
}
.otherCompare {
    border: 1px solid #ddd;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    min-height: 320px;
    background: #f7f7f7;
    padding: 10px;
  margin-top:10px;
}
.endosnakeCompare ul, .otherCompare ul {
    list-style: none!important;
    margin: 10px;
}
.endosnakeCompare li span, .otherCompare li span {
    font-size: 0.8rem;
    display: block;
    font-weight: 400;
  
}

.endosnakeCompare li, .otherCompare li {
    font-weight: bold;
    border-bottom: 1px dashed #9a9a9a;
    font-size: 1.1rem;
}  

.endosnakeCompare li:before {
    content: ' ';
    height: 20px;
    width: 20px;
    display: inline-block;
    background: url(https://cdn.shopify.com/s/files/1/1302/6949/files/checked.png);
    background-size: 100% 100%;
    margin-right: 4px;
    margin-top: 7px;
    vertical-align: text-bottom;
}
.otherCompare li:before {
    display: inline-block;
    content: 'x';
    background: red;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1em;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
}
.grid.compareBox {
    padding: 75px 0px;
}
.grid.charity {
    margin-bottom: 0px;
}
.compareTable {
    background: #0f2e4b;
    color: white;
    border-radius: 5px;
  padding:30px;
}
  .compareTable td{
  border-color:transparent;
  }
  .compareTable {
  text-align:center;
  }
.compareTable h2 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: 900;
}
.compareTable td .tdTitle {
    font-size: 1.1rem;
    display: block;
    font-weight: 600;
}
.compareTable td span.subdesc {
    font-size: 0.7rem;
    line-height: 1em;
    display: block;
}
.compareTable tr td{
    border-bottom:1px solid #ccc;
}
.compareTable tr:nth-child(1) td, .compareTable tr:last-child td{
    border-bottom:1px solid transparent;
}
.compareTable .tickBox {
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
    background: url(https://cdn.shopify.com/s/files/1/1302/6949/files/checked.png);
    background-size: 100%;
}
.crossBox {
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
    border: 2px solid white;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 1.7rem;
    border-radius: 50%;
}
.compareTable tr:first-child {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
}
.compareTable tr td:nth-child(2) {
    background: #20426c;
}
.grid.useCase {
    background: #f5f5f5;
    box-shadow: 1000px 0px #f5f5f5, -1000px 0px #f5f5f5;
    padding: 40px 0px;
}
  
.vehicle .grid-item h3 {
    text-align: center;
}
  .useCase{
  margin-bottom:0px!important;;
}
.useCase h1 {
    font-size: 2rem;
    font-weight: bold;
}
.useCase h2 {
    font-size: 1.4rem;
}
.faq h2 {
    font-size: 2rem;
    text-align: center;
}
.grid.faq {
    font-size: 1.1rem;
}
.grid.faq {
    border-bottom:1px solid #ccc;
}
.testiBox h3 {
    font-size: 2.3rem;
    margin: 0px;
    line-height: 2.3rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.testiBox {
    margin-top: 75px;
}

.featureImg img {
    max-width: 100%;
}
  .addToCartForm select{
  display:inline-block!important;
    width:70%;
    margin-right:4%;
    margin-bottom:0px!important
  }
  .js-qty{
  margin-bottom:0px!important;
  }
  .site-header{
  padding:0px!important;
  }
@media screen and (min-width:767px)
{
  .header-logo {
      margin: 5px 0;
  }
  .main-content{
  padding-top:15px!Important;
  }
  h1.greenPrice {
    color: #0dad0d;
    font-size: 2.7rem;
    font-weight: 900;
    margin: 0px;
  }
}

header .grid--full {
    line-height: 0;
}
.accessory-price {
    width: 10%;
    display: inline-block;
    padding-left: 10px;
    font-size: 1.2rem;
    vertical-align: top;
    font-weight: bold;
}
.accessories-title {
    font-size: 1.1rem;
    line-height: 1em;
  pointer-events: none!Important;
}
.accessories-title-wrap {
    width: 77%;
    display: inline-block;
}
.accessories-item{
  	transition:all 0.3s;
}
.accessories-item:hover {
    padding-left: 15px;
}
.accessories-item:hover::before {
    content: 'ON SALE!';
    background: #08e008;
    color: white;
    font-weight: bold;
    transform: rotate(270deg);
    position: absolute;
    margin-left: -48px;
    margin-top: 14px;
    width: 73px;
    text-align: center;
}
.accessories-title-wrap {
    font-size:1.1rem!important;
    color: #3272b6;
  pointer-events: none!Important;
}
  
  input[type="checkbox"] {
    position: relative;
    width: 500px!important;
    height: 51px!important;
    max-width: 487px!important;
    z-index: 999999999!important;
    opacity: 0;
}
  .accessories-img-wrapper img {
    position: relative;
    top: -62px;
    left: 10px;
}
input[type="checkbox"]+ div::before {
    position: absolute;
    width: 35px;
    background: #bbbbbb;
    display: block;
    content: '+';
    height: 35px;
    border-radius: 50%;
    z-index: 99;
    color: white;
    line-height: 35px;
    font-size: 1.7rem;
    top: -87px;
    opacity: 0.9;
    font-weight: 900;
}

input[type="checkbox"]:checked + div::before {
    position: absolute;
    width: 35px;
    background: #00af36;
    display: block;
    content: '✔';
    height: 35px;
    border-radius: 50%;
    z-index: 99;
    color: white;
    line-height: 35px;
    font-size: 1.2rem;
    top: -87px;
}
span.quantityMsg {
    margin-bottom: 5px;
    font-size: 15px;
}
.accessories-left.thumb {
    width: 88px;
    max-height: 75px;
}
.accessories-item select {
    margin-bottom: 10px;
    width: 75%;
    float: left;
}
div#w3-product-accessories {
    border: 2px dashed #bbb;
    padding: 5px;
    background: #f7fbff;
}
div#accessories-container-heading h3 {
    font-size: 1.3rem;
    color: #0f2e4b;
}
select#productSelect-, .js-qty input, .js--add, .js--minus {
    font-size: 1.1rem;
    border-color: #0f2e4b;
}

 .mobileOnly{
    	display:none!important;
    }

    
  @media (max-width:767px)
  {	
    .mobileOnly{
    	display:block!important;
    }
    .deskOnly{
    display:none!important;
    }
    .topTitle{
      font-size:1.3rem!important;
    }
    .main-content{
    	padding-top:5px;
    }
    div#productIntromob {
      text-align: left;
      margin-bottom: 20px;
      font-size: 1rem;
    }
    #productIntromob {
      display: block!important;
      text-align: left!important;
      margin-bottom: 15px;
      margin-top: 15px;
      font-size:1rem!Important;
    }
    .grid-item{
    	padding-left:15px!important;
    }
    .payment-buttons button{
    	font-size:1.3em!important;
    }
    img.moneyBack{
    	height:70px!important
    }
    .charity h4 {
        font-weight: 100;
        font-size: 1.1rem!Important;
    }
    .charity h2 {
    	font-size: 1.6rem!Important;
    }
    .techDetails {
    	font-size: 1.6rem!Important;
    }
    .outstand h2 {
    	font-size: 1.6rem!Important;
    	line-height: 1.8rem!Important;
    }
    .outstand h2.totalVal{
      font-size:2.6rem!important;
      line-height:2.8rem!important;
    
    }
    .compareBox .grid-item.large--six-twelfths {
        padding-left: 0px!important;
    }
    .compareTable{
    	padding:15px!important;	
    }
    .grid.useCase {
        text-align: center!Important;
        padding: 10px!Important;
    }
    .orderToday .grid-item {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    ul.highlightList li{
      font-size: 0.8rem;
      text-transform: uppercase;
      line-height: 1.2em;
    }
    .grid.outstand .grid-item {
        padding-left: 0px!important;
    }
  }

  @media (max-width:568px)
  {
    .topTitle{font-size:1.1rem!important;}
    .techSpec .grid-item .techDetails {
      font-size: 1.2rem!important;
      padding-top: 14px!important;
    }
    .techDetails {
       width: calc(100% - 62px)!important;
    }
    .compareTable table{max-width:100%!important;; overflow:hidden!important}
    .compareTable tr td{padding:5px!important;}
     .subTitle{
    	font-size:0.8rem!important;
          text-align: center;
    padding-left: 15px!important;;
    }
    .flashSale {
    	font-size: 1.3rem!important;
    }
    .flashSale img {
    	width: 34px!important;;
    }
    .ip67 .techDetails {
      width: calc(100% - 80px)!important;
    }
  }

  .mobileOnly{
    	display:none!important;
    }
  @media (max-width:767px)
  {	
    .mobileOnly{
    	display:block!important;
    }
    .deskOnly{
    display:none!important;
    }
    .topTitle{
      font-size:1.3rem!important;
    }
    .main-content{
    	padding-top:5px;
    }
    div#productIntromob {
      text-align: left;
      margin-bottom: 20px;
      font-size: 1rem;
    }
    #productIntromob {
      display: block!important;
      text-align: left!important;
      margin-bottom: 15px;
      margin-top: 15px;
      font-size:1rem!Important;
    }
    .grid-item{
    	padding-left:15px!important;
    }
    .payment-buttons button{
    	font-size:1.3em!important;
    }
    img.moneyBack{
    	height:70px!important
    }
    .charity h4 {
        font-weight: 100;
        font-size: 1.1rem!Important;
    }
    .charity h2 {
    	font-size: 1.6rem!Important;
    }
    .techDetails {
    	font-size: 1.6rem!Important;
    }
    .outstand h2 {
    	font-size: 1.6rem!Important;
    	line-height: 1.8rem!Important;
    }
    .outstand h2.totalVal{
      font-size:2.6rem!important;
      line-height:2.8rem!important;
    
    }
    .compareBox .grid-item.large--six-twelfths {
        padding-left: 0px!important;
    }
    .compareTable{
    	padding:15px!important;	
    }
    .grid.useCase {
        text-align: center!Important;
        padding: 10px!Important;
    }
    .orderToday .grid-item {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    ul.highlightList li{
      font-size: 0.8rem;
      text-transform: uppercase;
      line-height: 1.2em;
    }
    .grid.outstand .grid-item {
        padding-left: 0px!important;
    }
  }

  @media (max-width:568px)
  {
    .topTitle{font-size:1.1rem!important;}
    .techSpec .grid-item .techDetails {
      font-size: 1.2rem!important;
      padding-top: 14px!important;
    }
    .techDetails {
       width: calc(100% - 62px)!important;
    }
    .compareTable table{max-width:100%!important;; overflow:hidden!important}
    .compareTable tr td{padding:5px!important;}
     .subTitle{
    	font-size:0.8rem!important;
          text-align: center;
    padding-left: 15px!important;;
    }
    .flashSale {
    	font-size: 1.3rem!important;
    }
    .flashSale img {
    	width: 34px!important;;
    }
    .ip67 .techDetails {
      width: calc(100% - 80px)!important;
    }
  }