/* <style type="text/css"><!--   --></style> */


img {
max-width: 110%;
margin-left:-51.6px;
}

body {
    display:flex;

}

.topTitle{
    font-size:1.3rem!important;
    }
.ymain-content{
    	padding-top:5px;
    }
div#productIntromob {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1rem;
    }
    #productIntromob {
      display: block!important;
      text-align: left!important;
      margin-bottom: 15px;
      margin-top: 15px;
      font-size:1rem!Important;
    }
    .grid-item{
    	padding-left:15px!important;
    }
    .payment-buttons button{
    	font-size:1.3em!important;
    }
    img.moneyBack{
    	height:70px!important
    }
    .charity h4 {
        font-weight: 100;
        font-size: 1.1rem!Important;
    }
    .charity h2 {
    	font-size: 1.6rem!Important;
    }
    .techDetails {
    	font-size: 1.6rem!Important;
    }
    .outstand h2 {
    	font-size: 1.6rem!Important;
    	line-height: 1.8rem!Important;
    }
    .outstand h2.totalVal{
      font-size:2.6rem!important;
      line-height:2.8rem!important;
    
    }
    .compareBox .grid-item.large--six-twelfths {
        padding-left: 0px!important;
    }
    .compareTable{
    	padding:15px!important;	
    }
    .grid.useCase {
        text-align: center!Important;
        padding: 10px!Important;
    }
    .orderToday .grid-item {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    ul.highlightList li{
      font-size: 0.8rem;
      text-transform: uppercase;
      line-height: 1.2em;
    }
    .grid.outstand .grid-item {
        padding-left: 0px!important;
    }
  }

  @media (max-width:568px)
  {
    .topTitle{font-size:1.1rem!important;}
    .techSpec .grid-item .techDetails {
      font-size: 1.2rem!important;
      padding-top: 14px!important;
    }
    .techDetails {
       width: calc(100% - 62px)!important;
    }
    .compareTable table{max-width:100%!important;; overflow:hidden!important}
    .compareTable tr td{padding:5px!important;}
     .subTitle{
    	font-size:0.8rem!important;
          text-align: center;
    padding-left: 15px!important;;
    }
    .flashSale {
    	font-size: 1.3rem!important;
    }
    .flashSale img {
    	width: 34px!important;;
    }
    .ip67 .techDetails {
      width: calc(100% - 80px)!important;
    }